/* Global variable */

:root {
  /* Color */
  --color-primary: #d70018;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #c7a17a;

  /* Height */
  --header-height: 10rem;
}

/* Setting all */

* {
  box-sizing: inherit;
  list-style: none;
  outline: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

/* Setting html */

html {
  font-size: 62.5%; /* 1rem = 10px */
  line-height: 1.6rem;
  box-sizing: border-box;
}
